<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>Projects</title>

</head>

<body>
    <div>
        <div class="form-group">
            Buscar por:
            <label><input type="radio" name="search" value="name" checked> Nombre</label>
            <label><input type="radio" name="search" value="status"> Estado</label>
            <input type="text" id="search-by" placeholder=". . .">
            <button class="btn-success" id="searching-trigger">Buscar</button>
        </div>
    </div>
    <button class="btn-info" id="show-all-projects">Mostrar todos los Proyectos</button>
    <div id="projects"></div>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="open-modal">Open Modal</button>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Project</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label>Nombre: <input type="text" id="project-name">
                        </label>
                        <label>Descripción: <input type="text" id="project-description">
                        </label>
                        <label>Fecha de inicio: <input type="date" id="project-start-date">
                        </label>
                        <label>Fecha de fin: <input type="date" id="project-end-date">
                        </label>
                        <label>Imagen <input type="file" id="project-image">
                        </label>
                        <hr>
                        <label>Cliente: <select id="select-clients" id="project-client">

                            </select>
                        </label>
                        <br>
                        <label>Tecnologías: <span id="technologies">

                            </span>
                        </label>
                        <br>
                        <label>Sofkianos: <span id="sofkianos">

                            </span>
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="create-project" data-dismiss="modal">Crear</button>
                </div>
            </div>

        </div>
    </div>

    <script src="../../dist/bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>

</html>