<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>Projects</title>

</head>

<body>
    <div>
        <div class="form-group">
            Buscar por:
            <label><input type="radio" name="search" value="name" checked> Nombre</label>
            <label><input type="radio" name="search" value="status"> Estado</label>
            <input type="text" id="search-by" placeholder=". . .">
            <button class="btn-success" id="searching-trigger">Buscar</button>
        </div>
    </div>
    <div>
        <label>
            <input type="date" id="search-by-date">
        </label>
        <button class="btn-success" id="searching-date-trigger">Buscar por Fecha</button>
    </div>
    <button class="btn-info" id="show-all-projects">Mostrar todos los Proyectos</button>

    <div id="projects"></div>
    
    <div>
        <button id="create-new-project" class="btn-success">+</button>
    </div>

    <script src="../../dist/bundle.js"></script>
    <script>
    </script>
</body>

</html>